.quiz-list-container {

}

.list-group-item {
  background: #eee;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #ddd;
}

.list-group {
  margin-left: 10px;
  margin-right: 20px;
}

.quiz-list-heading {
  margin: 10px;
}
