.container {

}

.left-section, .right-section {
    /*border: 2px solid grey;*/
    float: left;
    min-height: 30px;
    color: black;
}
.left-section {
     width: 45%;
     margin-left: 2.5%;
     margin-right: 2.5%;
}
.right-section {
     width: 45%;
     margin-left: 2.5%;
     margin-right: 2.5%;
}

.main-section {
  margin-top: 0px;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 200px;

  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  /*border: 2px solid grey;*/
}

.action-section {
  margin: 10px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  /*border: 2px solid grey;*/
}
